
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}




thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead {
	background-color: black;
}

thead th {
    height: 30px;

    /*text-align: left;*/
}

tbody {
    height: 380px;
    overflow-y: scroll;
	color: #black;
}

thead {
    /* fallback */
}


tbody td, thead th {
    width: 19.2%;
    float: left;
}



#customers td, #customers th {

    padding: 8px;
}

#customers tr:nth-child(even){ color: black;border-radius: 10px;}

#customers tr:hover {background-color: #aed7f2; color: black;}

#customers th {
    padding-top: 12px;
    padding-bottom: 20px;
    text-align: left;
    background-color: black;
    color: white;
}

#contentsreservation {
	
	
}

#bodyreservation{
	padding: 10px 10px 10px 10px;
}





#reservationsort {
	background-color: green;
}

.force-overflow
{
	min-height: 450px;
}


#customers::-webkit-scrollbar {
      width: 15px;
} /* this targets the default scrollbar (compulsory) */
#customers::-webkit-scrollbar-track {
      background-color: #b46868;
} /* the new scrollbar will have a flat appearance with the set background color */
 
#customers::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2); 
} /* this will style the thumb, ignoring the track */
 
#customers::-webkit-scrollbar-button {
      background-color: #7c2929;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
 
#customers::-webkit-scrollbar-corner {
      background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */





